.rep-section {
  max-width: 100% !important;
}
.rep-section .rep-chart-wrap {
  display: grid;
  grid-template-columns: 65% 33%;
  gap: 2%;
}
.rep-section #regions_map_tooltip {
  position: absolute;
  pointer-events: none;
  transition: left 300ms ease-out, top 300ms ease-out;
  padding: 5px;
  width: 150px;
  background: white;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
}
.rep-section #regions_map_tooltip .state {
  font-weight: 700;
}
.rep-section #regions_map_tooltip.hidden {
  opacity: 0;
}
.rep-section .rep-regions-lists {
  background-color: #fbfaf5;
  padding: 30px;
  position: relative;
}
.rep-section .rep-regions-lists #rep-regions-heading {
  margin-bottom: 30px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content {
  max-height: 300px;
  overflow-x: hidden;
  padding-right: 10px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content::-webkit-scrollbar {
  width: 6px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-sales-rep-content-wrapper p {
  margin: 0;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-data {
  display: none;
  align-items: center;
  gap: 20px;
  border-bottom: 3px double #efead3;
  padding: 15px 0;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-data.visible {
  display: block;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-data.visible:nth-last-child(1 of .visible) {
  border-bottom: 0;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .title {
  font-weight: 700;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .company-and-agency-name {
  font-size: 13px;
  color: gray;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .rep-contact-details {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 20px;
  flex-wrap: wrap;
  row-gap: 5px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .rep-contact-details a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .mail-icon {
  display: block;
  height: 20px;
}
.rep-section .rep-regions-lists .rep-sales-rep-content .rep-content .call-icon {
  display: block;
  height: 16px;
}

@media (min-width: 768px) {
  .rep-section .rep-chart-wrap {
    grid-template-columns: 58% 40%;
  }
  .rep-section .rep-regions-lists {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .rep-section .rep-chart-wrap {
    grid-template-columns: 1fr;
  }
  .rep-section .rep-regions-lists {
    padding: 10px;
  }
}